.profile-view__image-container{
    background-color: #F2BC2D;
    height: 220px;  
    
}

.profile-view__image{

    padding-top: 20px;
    height: 200px;
    max-height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}